sftp-config.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Protobuf Files
*.pb.cc

# Build artefacts
mxnet/build
mxnet/deps
mxnet/ps-lite/build
.bootstrap
.check
*.pyc

# mxnet examples
mxnet/example
example/mnist
